file-connector/target/classes/mule-message-requester.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:mulerequester="http://www.mulesoft.org/schema/mule/mulerequester" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/mulerequester http://www.mulesoft.org/schema/mule/mulerequester/current/mule-mulerequester.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:connector name="file-connector" autoDelete="true" streaming="true" validateConnections="true" moveToPattern="#[message.inboundProperties.originalFileName]" moveToDirectory="E:/Mule/Destination" doc:name="File"/>
	<flow name="mule-message-requesterFlow1">
		<logger message="https://www.youtube.com/watch?v=hmMNMtglHt4" level="INFO" doc:name="Logger"/>
	</flow>
	<flow name="mule-message-requesterFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/muleRequest" doc:name="HTTP" allowedMethods="GET"/>
		<logger message="Start the mule message requester operation" level="INFO" doc:name="Logger"/>
		<mulerequester:request resource="file://E:/Mule/Sample/LBS1.csv?connector=file-connector" doc:name="Mule Requester"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
